<ion-view title="Connection" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
      <div class="col-md-12 text-center" style="padding-top:25%">
        <h2>Connection Status</h3>
        
        <div id="myDiv" style="width:100%">
  <img alt="Not Connected" title="Client Logo" src="https://riju.co/check.png"
   style="width:100%;color:crimson;font-size:20px;padding-top:50px;"/>
</div>




  </ion-content>
</ion-view>