<ion-view title="Donate" id="page7">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content  class="has-header" >
   
     <div class="container" > 
       <div class="row text-center " 
       style="padding-left:20px;
              padding-right:20px;
              padding-bottom:30px;
              padding-top: 150px;"> 
         <h3>If you liked this app, give it a App Store rating or donate now </h3>
         
       
     </div>
     <div style="text-align:center;" >
       <button class = "button button-balanced " ng-click="openBrowser()">Donate Now</button>

     </div>
     
       
     </div>
       


   
  </ion-content>
  
  
</ion-view>

