/* Empty. Add your own CSS if you like */

donate{
     padding-left:20px;
     padding-right:20px;
     padding-top:50px;
     padding-top: 100px;
}
.loader-bg{
    background:url(/img/load.gif) center center no-repeat;
    height: 100%;
}